
<!DOCTYPE html>
<html>
<head>
  <title>Student Page</title>
  <%= stylesheet_link_tag 'main' %> 
</head>
<body>

  <p style="color: green"><%= notice %></p>

  <div class="main-container">
    <div class="main-header">
      <%= image_tag("adnu-seal.png") %>
    </div>

   

    <% if @student.courses.present? %>
      
      <table>
        <h2>List of Subjects</h2>
        <thead>
          <tr>
            <th>Subject Name</th>
            <th>Section</th>
            <th>Number of Units</th>
            <th>Number of Students</th>
            <th>Unit Rate</th>
          </tr>
        </thead>
        <tbody>
          <% @student.courses.each do |course| %>
            <tr>
              <td><%= course.subject.name %></td>
              <td><%= course.subject.section %></td>
              <td><%= course.subject.number_of_units %></td>
              <td><%= course.subject.number_of_students %></td>
              <td><%= course.subject.per_unit_rate %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <div style="text-align: center">
      <%= link_to "Edit this student", edit_student_path(@student), class: "buttons" %> |
      <%= link_to "Back to students", students_path, class: "buttons"  %>

      <%= button_to "Destroy this student", @student, method: :delete, class: "buttons" %>
    </div>
  </div>

</body>
</html>
